
  .logitem {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 5px 0px;
  }

  .levelcol {
    -moz-border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    text-align: center;
  }

  .timecol {
    padding-left: 10px;
  }

  .headerrow {
    font-weight: bold;
    border-bottom: 1px solid lightgray;
  }

  .mainlogrow {
    cursor: pointer;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
  }

  .textspan {
    display: inline-block;
    vertical-align: middle;
  }


  .keycell {
    text-align: right;
    font-style: italic;
    font-weight: bold;
  }


/* TRACE entry style */
  .TRACE {
    background-color: #aaaaff;
    border-right: 2px solid #7777dd;
  }

  .TRACEROW {
    border: 2px solid #7777dd;
  }


/* DEBUG entry style */
  .DEBUG {
    background-color: #aaffaa;
    border-right: 2px solid #66aa66;
  }

  .DEBUGROW{
    border: 2px solid #66aa66;
  }


/* INFO entry style */
  .INFO {
    background-color: #bbbbbb;
    border-right: 2px solid #999999;
  }

  .INFOROW {
    border: 2px solid #999999;
  }


/* WARN entry style */
  .WARN {
    background-color: #FFA500;
    border-right: 2px solid #FF8C00;
  }

  .WARNROW {
    border: 2px solid #FF8C00;
  }


/* ERROR entry style */
  .ERROR {
    background-color: #ff5555;
    border-right: 2px solid #ff2222;
  }

  .ERRORROW {
    border: 2px solid #ff2222;
  }


/* FATAL entry style */
  .FATAL {
    background-color: #111111;
    border-right: 2px solid #000000;
    color: white;
  }

  .FATALROW {
    border: 2px solid #000000;
  }


/* Filtered classes */
  .filter {
    cursor: pointer;
  }

  .filtered {
    display: none;
  }

  .nosearch {
    display: none;
  }

  #searchInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}
