
  #logtable {
    border-collapse:separate;
    border-spacing: 0px 3px;
    width: 98%;
    margin: 0 0 0 10px;
   }

   #logtable td {
        height: 40px;
        padding-left: 5px;
        padding-right: 5px;
   }

    tr td:first-child {
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-bottomleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
    }

    tr td:last-child {
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
    }

  .levelcol {
    width: 100px;
    text-align: center;
  }

  .timecol {
    width: 200px;
    padding-left: 10px;
  }



/* TRACE entry style */
  .TRACE {
    background-color: #aaaaff;
  }

  .TRACEROW td {
    border-top: 2px solid #7777dd;
    border-bottom: 2px solid #7777dd;
  }

  .TRACEROW td:first-child {
      border-left: 2px solid #7777dd;
      border-right: 2px solid #7777dd;
  }

  .TRACEROW td:last-child {
      border-right: 2px solid #7777dd;
  }


/* DEBUG entry style */
  .DEBUG {
    background-color: #aaffaa;
  }

  .DEBUGROW td{
    border-top: 2px solid #66aa66;
    border-bottom: 2px solid #66aa66;
  }

  .DEBUGROW td:first-child {
      border-left: 2px solid #66aa66;
      border-right: 2px solid #66aa66;
  }

  .DEBUGROW td:last-child {
      border-right: 2px solid #66aa66;
  }


/* INFO entry style */
  .INFO {
    background-color: #bbbbbb;
  }

  .INFOROW td{
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
  }

  .INFOROW td:first-child {
      border-left: 2px solid #999999;
      border-right: 2px solid #999999;
  }

  .INFOROW td:last-child {
      border-right: 2px solid #999999;
  }


/* WARN entry style */
  .WARN {
    background-color: #dd9999;
  }

  .WARNROW td {
    border-top: 2px solid #aa6666;
    border-bottom: 2px solid #aa6666;
  }

  .WARNROW td:first-child {
      border-left: 2px solid #aa6666;
      border-right: 2px solid #aa6666;
  }

  .WARNROW td:last-child {
      border-right: 2px solid #aa6666;
  }


/* ERROR entry style */
  .ERROR {
    background-color: #ff5555;
  }

  .ERRORROW td {
    border-top: 2px solid #ff2222;
    border-bottom: 2px solid #ff2222;
  }

  .ERRORROW td:first-child {
      border-left: 2px solid #ff2222;
      border-right: 2px solid #ff2222;
  }

  .ERRORROW td:last-child {
      border-right: 2px solid #ff2222;
  }


/* FATAL entry style */
  .FATAL {
    background-color: #111111;
    color: white;
  }

  .FATALROW td {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }

  .FATALROW td:first-child {
      border-left: 2px solid #000000;
      border-right: 2px solid #000000;
  }

  .FATALROW td:last-child {
      border-right: 2px solid #000000;
  }


/* Filtered classes */
  .filter {
    cursor: pointer;
  }

  .filtered {
    display: none;
  }

  .nosearch {
    display: none;
  }

  #searchInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 12px;
}